@using System.Security.Principal


<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewData["Title"] - WikiCore</title>

    <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/jQuery-tagEditor/jquery.tag-editor.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="~/lib/jqcloud2/jqcloud.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="~/lib/jQuery-tagEditor/jquery.tag-editor.min.js"> </script>
    <script src="~/lib/jQuery-tagEditor/jquery.caret.min.js"> </script>
    <script src="~/lib/jqcloud2/jqcloud.min.js"></script>

</head>
<body>
    <!-- Following Menu -->
    <div class="ui large top pointing fixed menu">
        <div class="ui container">
            <a class="toc item">
                <i class="sidebar icon"></i>
                <span class="sr-only">Toggle Navigation</span>
            </a>
            <a href="/" class="header item">WikiCore</a>
            @if (User.Identity.IsAuthenticated) {
                <menulink class="blue item"  icon-name="sticky note" controller-name="Home" action-name="Index" menu-text="Page" link-name="Home/Index"></menulink>
                <menulink class="blue item"  icon-name="cloud" controller-name="Cloud" action-name="Index" menu-text="Tags" link-name="Home/Cloud"></menulink>
                <menulink class="blue item"  icon-name="edit" controller-name="Add" action-name="Index" menu-text="Add" link-name="Edit/Add"></menulink>
                <menulink class="blue item"  icon-name="settings" controller-name="Misc" action-name="Index" menu-text="" link-name="Misc/Index"></menulink>
                <menulink class="blue item"  icon-name="log out" controller-name="Logout" action-name="Index" menu-text="" link-name=""></menulink>
                <div class="ui category search">
                    <div class="ui icon input">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="prompt" type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
                </div>    
            } else {
                  <menulink class="blue item" icon-name="sign in" controller-name="Login" action-name="Index" menu-text="Login" link-name="Account/Login"></menulink>
                  <menulink class="blue item" icon-name="add user" controller-name="Register" action-name="Index" menu-text="Register" link-name=""></menulink>
            }
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        @if (User.Identity.IsAuthenticated) {
            <menulink class="blue item"  icon-name="sticky note" controller-name="Home" action-name="Index" menu-text="Page" link-name="Home/Index"></menulink>
            <menulink class="blue item"  icon-name="cloud" controller-name="Cloud" action-name="Index" menu-text="Tags" link-name="Home/Cloud"></menulink>
            <menulink class="blue item"  icon-name="edit" controller-name="Add" action-name="Index" menu-text="Add" link-name="Edit/Add"></menulink>
            <menulink class="blue item"  icon-name="settings" controller-name="Misc" action-name="Index" menu-text="" link-name="Misc/Index"></menulink>
            <menulink class="blue item"  icon-name="log out" controller-name="Logout" action-name="Index" menu-text="" link-name=""></menulink>
        } else {
            <menulink class="blue item" icon-name="sign in" controller-name="Login" action-name="Index" menu-text="Login" link-name="Account/Login"></menulink>
            <menulink class="blue item" icon-name="add user" controller-name="Register" action-name="Index" menu-text="Register" link-name=""></menulink>
        }

    </div>

    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui container content">
            @{
                if (ViewData["ErrorMessage"] != null) {
                    <div class="ui negative message">
                    <i class="close icon"></i>
                    <div class="header">
                    Error
                    </div>
                    <p>@ViewData["ErrorMessage"]
                    </p></div>
                }else if(@ViewData["SuccessMessage"] != null) {
                    <div class="ui positive message">
                    <i class="close icon"></i>
                    <div class="header">
                        Success
                    </div>
                    <p>@ViewData["SuccessMessage"]</p>
                    </div>
                }
            }
            @RenderBody()
        </div>

    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.js"
                asp-fallback-src="~/lib/semantic/dist/semantic.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
